.text-danger {
    color: #dc3545 !important;
}

.clickable {
    cursor: pointer;
}

.is-featured {
    border: 2px solid #219F94;
    box-shadow: 0 0 10px 0 #219f94;
}

.btn-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.nav-tabs .nav-item .nav-link.active:before, .nav-tabs .nav-item .nav-link.active:focus:before, .nav-tabs .nav-item .nav-link.active:hover:before,
.nav-tabs .nav-item .nav-link.active:after, .nav-tabs .nav-item .nav-link.active:focus:after, .nav-tabs .nav-item .nav-link.active:hover:after {
    border-bottom-color: rgba(33, 161, 150, .4) !important;
}
