
.tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.tag:hover {
    color: #FFF;
    text-decoration: none;
}

.tag.tag-retail:hover {
    background-color: #28A745;
}

.tag.tag-retail:hover::after {
    border-left-color: #28A745;
}

.tag.tag-wholesale:hover {
    background-color: #D1E9BB;
    color: #000 !important;
}

.tag.tag-wholesale:hover::after {
    border-left-color: #D1E9BB;
}

#save_new_product_regular .text-danger {
    color: #dc3545 !important;
}

.custom--disabled {
    pointer-events: none !important;
    cursor: not-allowed !important;
}

.wholesale--container .custom-control-input:checked ~ .custom-control-label::before, 
.variants--container .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #219F94 !important;
    background-color: #219F94 !important;
}

.clickable {
    cursor: pointer;
}

.is-featured {
    border: 2px solid #219F94;
    box-shadow: 0 0 10px 0 #219f94;
}

.btn-danger {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.text-danger {
    color: #dc3545 !important;
}

.nav-tabs .nav-item .nav-link.active:before, .nav-tabs .nav-item .nav-link.active:focus:before, .nav-tabs .nav-item .nav-link.active:hover:before,
.nav-tabs .nav-item .nav-link.active:after, .nav-tabs .nav-item .nav-link.active:focus:after, .nav-tabs .nav-item .nav-link.active:hover:after {
    border-bottom-color: rgba(33, 161, 150, .4) !important;
}

.monitor--logs-image {
    width: 135px;
    height: 135px;
    display: inline-block;
    margin: 5px;
    background-position: center;
    background-size: cover;
}

.dropdown-divider.m-y-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}
